@import 'custom_components/custom_variables';

@mixin transition($args...) {
  -webkit-transition: $args !important;
  -moz-transition: $args !important;
  -ms-transition: $args !important;
  -o-transition: $args !important;
  transition: $args !important;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@import 'custom_components/_navbar';
@import 'custom_components/_scrollspy';
@import 'custom_components/_index';