.section:not(#index) {
	height: 600px;
	padding: 2em 0;
}

.row {
	margin: 1em 0;
}

.light-blue {
	@extend .blue, .lighten-1;
}

.skew {
	position: relative;
	
	&.odd:before {
		content: '';
		position: absolute;
		top: -25px;
		border-top: 50px solid white;
		border-bottom: 10px solid white;
		width: 100%;
		height: 0;
		left: 0;
		background: white;
		z-index: 2;
		
		transform: skewY(2deg);
		-webkit-transform: skewY(2deg);
		-moz-transform: skewY(2deg);
		-o-transform: skewY(2deg);
		-ms-transform: skewY(2deg);
	}
	
	&.odd:after {
		content: '';
		position: absolute;
		bottom: -25px;
		border-bottom: 50px solid white;
		border-top: 10px solid white;
		width: 100%;
		height: 0;
		left: 0;
		background: white;
		z-index: 2;
		
		transform: skewY(-2deg);
		-webkit-transform: skewY(-2deg);
		-moz-transform: skewY(-2deg);
		-o-transform: skewY(-2deg);
		-ms-transform: skewY(-2deg);
	}
	
	&.even:before {
		content: '';
		position: absolute;
		top: -25px;
		border-top: 50px solid white;
		border-bottom: 10px solid white;
		width: 100%;
		height: 0;
		left: 0;
		background: white;
		z-index: 2;
		
		transform: skewY(-2deg);
		-webkit-transform: skewY(-2deg);
		-moz-transform: skewY(-2deg);
		-o-transform: skewY(-2deg);
		-ms-transform: skewY(-2deg);
	}
	
	&.even:after {
		content: '';
		position: absolute;
		bottom: -25px;
		border-bottom: 50px solid white;
		border-top: 10px solid white;
		width: 100%;
		height: 0;
		left: 0;
		background: white;
		z-index: 2;
		
		transform: skewY(2deg);
		-webkit-transform: skewY(2deg);
		-moz-transform: skewY(2deg);
		-o-transform: skewY(2deg);
		-ms-transform: skewY(2deg);
	}
}